@{
    ViewBag.Title = "RMS";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<style>
    .photo {
        text-align: center; /*for centering images inside*/
    }

        .photo img {
            width: 1200px; /*set the width or max-width*/
            height: 650px; /*this makes sure to maintain the aspect ratio*/
        }
</style>
<div class='section content'>
    <div class="photo">
        <img src="~/Content/Images/RMSHome.gif" />
    </div>
</div>

    @*.illustration img {
    width: 100%;
    display: block;
    }

<div class='section content'>
    <div class='illustration'>
        <img src='images/illustration-big.png' style='max-width: 500px' />
    </div>
</div>*@

<script src="~/Template/plugins/jquery/jquery-3.5.1.js"></script>


