<div class="container-fluid" style="padding-bottom:25px; margin-bottom:25px;">
    @{
        ViewBag.Title = "Rental Management System";
        Layout = "~/Views/Shared/_LayoutMain.cshtml";
    }
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row" style="padding-top:10px; padding-bottom:0px;">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <h3 style="color:green;"><b>We are sorry. Please contact with the Administrator - RMS TM</b></h3>
                    </div>
                    <button type="button" class="btn btn-success" style="float: right;"
                            id="btnFormBack" onclick="return BackValidator();">
                        <i class="fas fa-home"></i>
                        <span>&nbsp;Back to Home</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function BackValidator() {
        //var LoginUserID = @Html.Raw(Json.Encode(ViewBag.LoginUserID));
        window.location.href = "/Home/Index";
    }
</script>