<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rms.btp-inc.ca</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>btp-inc.ca</MSDeployServiceURL>
    <DeployIisAppPath>rms.btp-inc.ca</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>rms.btp-inc.ca_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RMSDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=204.93.178.45;Initial Catalog=btpinc_rms;Persist Security Info=True;User ID=btpinc_btpcanada;Password=112233" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RMS.DBProcess.RMSDBContext, RMS" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="RMSDBContext-Web.config Connection String">
      <ParameterValue>Data Source=204.93.178.45;Initial Catalog=btpinc_rms;Persist Security Info=True;User ID=btpinc_btpcanada;Password=112233</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>